.alphabet-container {
    text-align: center;
    padding: 20px;
  }
  
  .alphabet-container h1 {
    color: #1a1919;
    margin-bottom: 20px;
  }
  
  .alphabet-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px;
  }
  
  .alphabet-table th, .alphabet-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    color: black;
  }
  
  .alphabet-table th {
    background-color: white;
    color: black;

  }
  
  .hand-sign {
    width: 50px;
    height: 50px;
  }
  
  .alphabet-table td img {
    display: block;
    margin: 0 auto;
  }
  